<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="true" pattern="%highlight{%d [%level]} - %msg%n"/>
        </Console>
        <!--<File name="FILE" fileName="logs.json">
            <JsonTemplateLayout />
        </File>-->
        <File name="TEXT_FILE" fileName="logs.txt">
            <PatternLayout pattern="%highlight{%d [%level]} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!--
            DEBUG - Exibe toda trace
            INFO - Só uma informação para indicar algo
            WARNING - Aviso, pra ficar atento
            ERROR - Quase crítico, porém depende uma certa atenção
        -->
        <Logger name="org.uniara.usersapi" level="INFO"/>
        <Root level="WARN">
            <AppenderRef ref="CONSOLE"/>
            <!--<AppenderRef ref="FILE" />-->
            <AppenderRef ref="TEXT_FILE" />
        </Root>
    </Loggers>

</Configuration>